body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.container {
    text-align: center;
}

.circle-button {
    width: 100px;
    height: 100px;
    background-color: #4CAF50;
    border: none;
    border-radius: 50%;
    color: white;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.move-button {
    width: 100px;
    height: 100px;
    background-color: #ddd;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.move-button i {
    font-size: 48px;
    color: #333;
}

.hidden {
    display: none;
}
